#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%
}

.TopBar {
  display: flex;
  height: 56px;
  min-height: 56px;
  padding: 0 16px;
  align-items: center;
  background: #425A70;
  color: rgba(228, 231, 235, 1);
  z-index: 2;
}

.TopBar .Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  margin-left: -16px;
  background: rgba(35, 67, 97, 1);
}

.TopBar .Menu:hover {
  background: rgba(35, 67, 97, .5);
}

.TopBar .Name {
  flex-grow: 1;
  margin-right: 10px;
  padding: 16px;
}

.TopBar .Name .Icon {
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.TopBar .Nav-Right .Link {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.TopBar .Nav-Right .Link:hover {
  background: rgba(255, 255, 255, .1)
}

.TopBar .Nav-Right .Link .Icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  position: relative;
  top: -1px;
}

.TopBar .Nav-Right .Link .Title {
  margin-left: 8px;
}

.Content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background: #425A70;
}

.Search {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  padding: 5px;
  z-index: 1;

  background: rgba(228, 231, 235, 0.8);

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.Search.is-visible ~ .Placeholder {
  flex-basis: 0;
  transition: flex-basis .3s cubic-bezier(.465, .183, .153, .946);
}

.Search .Places {
  flex-grow: 1;
  margin-bottom: 5px;
  resize: none;
}

.Search .Border {
  width: 100%;
}

.Search .Borderlimit {
  width: 100%;
  margin-bottom: 10px;
}

Button {
  justify-content: center;
  padding-bottom: 20px;
}

.Placeholder {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;

  transition: flex-basis .3s cubic-bezier(.465, .183, .153, .946);
  will-change: flex-basis;
}

.Map {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.leaflet-container {
  height: 100%;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  .TopBar .Menu {
    display: none;
  }

  .TopBar .Name {
    margin-left: -16px;
  }

  .Placeholder {
    flex-basis: 0;
  }
}

@media only screen and (max-width: 500px) {
  .Search {
    width: 100%;
  }
}
